<?xml version="1.0" encoding="utf-8" ?>
  <configuration>
    <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="FrbaHotel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="FrbaHotel.Properties.Settings.GD2C2014ConnectionString"
      connectionString="Data Source=IGNACIO-PC\SQLSERVER2008;Initial Catalog=GD2C2014;Persist Security Info=True;User ID=gd;Password=gd2014"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <applicationSettings>
      <FrbaHotel.Properties.Settings>
        <setting name="Fecha" serializeAs="String">
          <value>2014-12-22</value>
        </setting>
      </FrbaHotel.Properties.Settings>
    </applicationSettings>
</configuration>
